<!-- Primera sección: Sobre el Autor -->
<section>
    <div style="text-align: center;">
    <h3>Sobre los Autores</h3>
    
        <!-- Foto del autor -->
        <img src="https://juniorjb5.github.io/ANIF/images/inte4.jpg" width="150" style="border-radius: 50%; margin-bottom: 10px;">
        
        <!-- Nombre y descripción -->
        <p><strong>Yessenia Martinez-Ruiz, PhD.</strong> <br> Profesora. Escuela de Ingeniería Industrial</p>
        <p>Doctora en Ingeniería. <br>
        Magíster en Ingeniería Industrial. <br>
        Ingeniera Industrial. <br>
        Universidad del Valle</p>

        <!-- Correo electrónico -->
        <p>
            <a href="mailto:yessenia.martinez@univalle.edu.co">orlando.joaqui@correounivalle.edu.co</a>
            <br>
            <a href="https://industrial.univalle.edu.co/profesores/yessenia-martinez-ruiz">Website</a>
        <br>

<!-- Redes sociales -->
<div style="display: flex; justify-content: center; gap: 10px;">
    <a href="https://www.linkedin.com/in/yessenia-martinez-ruiz-b887a42b8/" target="_blank" title="LinkedIn">
    <i class="fab fa-linkedin" style="font-size: 30px; color: #0077b5;"></i>
    Ver LinkedIn
</a>
</p>

</div>

</section>


<hr style="border: none; height: 5px; background-color: #f0f0f0; width: 100% !important; margin: 20px auto !important;">

<br>


<!-- Tercera sección: Explora Más -->
<section>
  <h3>Enlaces de interés</h3>
    <h3>{{ T "sidebar_heading_2" }}</h3>
    <ul class="links">
        <li><a href="https://www.univalle.edu.co/">La Universidad</a></li>
        <li><a href="https://ingenieria.univalle.edu.co/">La Facultad</a></li>
        <li><a href="https://industrial.univalle.edu.co/">La Escuela</a></li>
        <li><a href="https://www.semilleroanifunivalle.com/integrantes/">Conoce a Nuestro Equipo</a></li>
        <li><a href="https://www.linkedin.com/company/semillero-anif-univalle/" target="_blank">Síguenos en LinkedIn</a></li>
    </ul>

</section>


