<!-- Primera sección: Sobre Nosotros -->
<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>
    <p>Ph.D. in Engineering with emphasis in Industrial Engineering from Universidad del Valle, where I also obtained my undergraduate degree in Statistics and a master’s degree in Applied Economics. Currently, I serve as an assistant professor at Pontificia Universidad Javeriana Cali, where I teach courses in areas such as statistics, econometrics, business analytics, machine learning for finance, data visualization, and quantitative finance.</p>
    <footer>
        <a href="/contacto" class="button">{{ T "sidebar_button_1" }}</a>
    </footer>
</section>

<!-- Segunda sección: Explora Más -->
<section>
    <h3>{{ T "sidebar_heading_2" }}</h3>
    <ul class="links">
        <li><a href="https://www.univalle.edu.co/">La Universidad</a></li>
        <li><a href="https://ingenieria.univalle.edu.co/">La Facultad</a></li>
        <li><a href="https://industrial.univalle.edu.co/">La Escuela</a></li>
        <li><a href="/integrantes">Conoce a Nuestro Equipo</a></li>
        <li><a href="https://www.linkedin.com/in/grupo-anif/" target="_blank">Síguenos en LinkedIn</a></li>
    </ul>
    <footer>
        <a href="/proyectos" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>


