<!-- Primera sección: Sobre Nosotros -->
<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>
    <p>
        <strong style="color: blue;">Temas actuales de interés </strong>
    </p>
<ul style="list-style-type: square; color: black;">
    <li>Modelo de medición de riesgo de mercados en portafolios de bonos usando técnicas de simulación.</li>
    <li>Casos de valoración de empresas colombianas a partir de información pública y utilizando técnicas de simulación.</li>
    <li>Análisis de estrategias de cobertura con derivados sobre divisas (Importadores, exportadores, inversionistas y prestamistas).</li>
    <li>Estrategias de inversión con derivados sobre índices bursátiles.</li>
    <li>Financial Risk Modeling with Markov Chains.</li>
    <li>Financial derivatives for risk management in shipping operations: A simulation model applied to the oil and gas sector.</li>
    <li>The impact of distribution on value-at-risk measures.</li>
    <li>Estrategias de cobertura sector floricultor – riesgo financiero sector floricultor.</li>
    <li>Análisis financiero de la Universidad del Valle – Reportes de Estabilidad Financiera.</li>
    <li>Mecanismos de financiación alternativos (Crowdfunding).</li>
    <li>Estrategias de cobertura con derivados de electricidad en Colombia (Derivex).</li>
    <li>Contratos Financieros en Energía Eléctrica.</li>
    <li>Cobertura al riesgo ante la variabilidad hidrológica en una central hidráulica a filo de agua usando derivados climáticos.</li>
    <li>Cash Flow at Risk.</li>
    <li>Fondos de inversión colectiva basados en derivados energéticos.</li>
</ul>
    <footer>
        <a href="/contacto" class="button">{{ T "sidebar_button_1" }}</a>
    </footer>
</section>

<!-- Segunda sección: Explora Más -->

