<!-- Primera sección: Sobre Nosotros -->
<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>
    <p>Somos un grupo de profesionales y estudiantes apasionados por la analítica y las finanzas, enfocados en desarrollar soluciones innovadoras y generar impacto en el mundo financiero.</p>
    <footer>
        <a href="/contacto" class="button">{{ T "sidebar_button_1" }}</a>
    </footer>
</section>



<hr style="border: none; height: 5px; background-color: #f0f0f0; width: 100% !important; margin: 20px auto !important;">

<br>


<!-- Segunda sección: Explora Más -->
<section>
    <h3>Enlaces de interés</h3>
    <h3>{{ T "sidebar_heading_2" }}</h3>
    <ul class="links">
        <li><a href="https://www.univalle.edu.co/">La Universidad</a></li>
        <li><a href="https://ingenieria.univalle.edu.co/">La Facultad</a></li>
        <li><a href="https://industrial.univalle.edu.co/">La Escuela</a></li>
        <li><a href="/ANIF/integrantes">Conoce a Nuestro Equipo</a></li>
        <li><a href="https://www.linkedin.com/in/semillero-de-investigaci%C3%B3n-anif-48b71b356/" target="_blank">Síguenos en LinkedIn</a></li>
    </ul>
    <footer>
        <a href="/proyectos" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>


