<!-- Primera sección: Sobre Nosotros -->
<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>
    <p>
        <strong style="color: #a70000;">Líneas de investigación</strong>
    </p>
    <ul style="list-style-type: square; color: black;">
        <li>Finanzas Corporativas</li>
        <li>Mercados Financieros</li>
        <li>Gestión Financiera de Cadenas de Suministro</li>
        <li>Macroeconomía Financiera</li>
        <li>Economía Energética y Mercados de Energía</li>
        <li>Riesgo y Seguros</li>
        <li>Valoración de Activos</li>
        <li>Ingeniería Financiera y Gestión del Riesgo</li>
        <li>Finanzas de la Salud</li>
        <li>Project Finance</li>
    </ul>
    <footer>
        <a href="/contacto" class="button">{{ T "sidebar_button_1" }}</a>
    </footer>
</section>

<!-- Segunda sección: Explora Más -->
<section>
   <p>
        <strong style="color: #a70000;">Descubre los Programas que Apoyamos</strong>
    </p>

    <h3>{{ T "sidebar_heading_2" }}</h3>
    <ul class="links">
        <li><a href="https://industrial.univalle.edu.co/programas-academicos/programas-postgrado/doctorado-ingenieria-enfasis-ingenieria-industrial">▪ Doctorado en Ingeniería: Énfasis Ingeniería Industrial
</a></li>
        <li><a href="https://ppiee.univalle.edu.co/doctorado-en-ingenieria-con-enfasis-en-ingenieria-electrica-y-electronica">▪ Doctorado en Ingeniería: Énfasis Ingeniería Eléctrica
</a></li>
<li><a href="https://socioeconomia.univalle.edu.co/82-oferta-academica/posgrado/1610-doctorado-en-economia-aplicada">▪ Doctorado en Economía Aplicada</a></li>
</a></li>
        <li><a href="https://industrial.univalle.edu.co/index.php/programas-academicos/programas-postgrado/maestria-en-ingenieria-industrial">▪ Maestría en Ingeniería: Énfasis Ingeniería Industrial
</a></li>
        <li><a href="https://industrial.univalle.edu.co/maestrias/maestria-en-logistica">▪ Maestría en Logística y Gestión de Cadenas de Abastecimiento
</a></li>
        <li><a href="https://eisc.univalle.edu.co/index.php/programas-academicos/maestria-en-analitica-e-inteligencia-de-negocios">▪ Maestría en Analítica e Inteligencia de Negocios
</a></li>
        <li><a href="https://administracion.univalle.edu.co/maestrias/maestria-en-gerencia-de-proyectos">▪ Maestría en Gerencia de Proyectos
</a></li>
        <li><a href="https://socioeconomia.univalle.edu.co/maestria-economia-aplicada">▪ Maestría en Economía Aplicada
</a></li>
        <li><a href="https://industrial.univalle.edu.co/pregrado-en-ingenieria-industrial">▪ Programa de Ingeniería Industrial
</a></li>
        <li><a href="hhttps://socioeconomia.univalle.edu.co/economia">▪ Programa de Economía
  
  
    <footer>
        <a href="/proyectos" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>

