{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" .Site.Params.enableSourceMaps) }}
{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "main.scss" . | css.Sass $options }}
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta charset="utf-8" />
<link rel="icon" href="/favicon.png" type="image/png">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
{{- partial "analytics/google-tag-manager/head.html" . -}}
{{- partial "head/custom.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}

<!-- GLightbox CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/css/glightbox.min.css">

<!-- GLightbox JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.2.0/js/glightbox.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const lightbox = GLightbox({
            selector: '.glightbox', // Selector para las imágenes
            touchNavigation: true,
            loop: true,
            zoomable: true,
            autoplayVideos: true
        });
        console.log('✅ GLightbox cargado correctamente');
    });
</script>
